.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cotizar{
      position: absolute;
    z-index: 9999999;
    top: 0;
        left: 0;
    top: 83%;
    position: fixed;
    background: linear-gradient(40deg,#FFD86F,#FC6262)!important;
    transition: .5s ease;
}
.tecnologias{
      position: absolute;
    z-index: 9999999;
    top: 0;
        right: 0;
    top: 83%;
    position: fixed;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    transition: .5s ease;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.modal{
      position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
}
.modal-content{
  margin-top: 150px;
    background-color: #fff;
  
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog{
  height: auto;
      align-items: center;
}
.modal.show{
  display: block;
      width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    background-color: black;
    opacity: .9 !important;

}
button#close{
      position: absolute;
    right: 0;
    margin-top: -39px;
    font-size: 30px;
    background-color: white;
}
#close span{
  color: black !important;
}
.fade.show {
    opacity: 1;
}
.fade{
      transition: opacity .15s linear;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-body{
  position: relative;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}